.text-modal{
    height: 56px;
    min-height: 48px;
}
.text-checklist{
    height: 32px;
    min-height: 32px;
}
.text-addItem{
    height: 36px;
    min-height: 32px;
}
.divider{
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px;
}
.w-80{
    width: 80%;
}
.w-70{
    width: 60%;
}
.w-30{
    width: 40%;
}
.form-check-input:checked{
    background-color: #D54100 !important;
    border: #D54100 !important;
}
