.text-modal{
    min-height: 74px;
}
.text-checklist{
    min-height: 40px;
}
.divider{
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px;
}

    // input[type=checkbox]:checked {
    //     color: #F8B52E !important;
    //     background-color: #444;
    // }
