.button-style{
    background-color: #d6ac83;
}
.non-outline:focus{
    outline: none;
}
.font-color{
    color: rgba(0, 0, 0, 0.5);
}
.modal-layout{
    min-height: 50vh !important;
    min-width: 200px;
}
.input-layout{
    min-width: 50px;
}